//
// The basic two column layout
//

.page-wrap {
	@include mq(md) {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		width: 100%;
		height: 100%;
		overflow-x: hidden;
		overflow-y: hidden;
	}
}

.side-bar {
	padding-top: $gutter-spacing-sm; // added
	padding-bottom: $gutter-spacing-sm; // added
	z-index: 100;
	display: flex;
	flex-wrap: wrap;
	background-color: $sidebar-color;

	@include mq(md) {
		flex-wrap: nowrap;
		position: absolute;
		width: $nav-width-md + 16px; // changed
		padding-top: $gutter-spacing * 2; // added
		padding-bottom: 0; // added
		height: 100%;
		flex-direction: column;
		border-right: $border $border-color;
		align-items: flex-end;
	}

	@include mq(lg) {
		width: calc((100% - #{$nav-width + $content-width}) / 2 + #{$nav-width});
		min-width: $nav-width;
	}
}

.main-content-wrap {
	@include mq(md) {
		position: absolute;
		top: 0;
		left: 0;
		min-height: 600px; // added
		width: 100%;
		height: 100%;
		-webkit-overflow-scrolling: touch;
		overflow-x: hidden;
		overflow-y: scroll;
	}
}

.main-content {
	@include mq(md) {
		position: relative;
		max-width: $content-width;
		padding-top: $gutter-spacing; // added
		padding-bottom: $gutter-spacing; // added
		padding-left: $gutter-spacing * 1.5; // added
		margin-left: $nav-width-md;
	}

	@include mq(lg) {
		padding-left: $gutter-spacing * 2; // added
		margin-left: calc((100% - #{$nav-width + $content-width}) / 2 + #{$nav-width});
	}
}

.js-main-content:focus {
	outline: none;
}

.page {
	@include container;
	padding-top: $gutter-spacing-sm;
	padding-bottom: $gutter-spacing-sm;

	@include mq(md) {
		padding-top: $gutter-spacing;
		padding-bottom: $gutter-spacing;
	}
}

.page-header {
	@include container;
	display: none;
	padding-top: $gutter-spacing-sm;
	padding-bottom: $gutter-spacing-sm;
	background-color: $sidebar-color;

	@include mq(md) {
		display: flex;
		justify-content: flex-end;
		height: $header-height;
		background-color: $body-background-color;
		border-bottom: $border $border-color;
	}

	&.nav-open {
		display: block;

		@include mq(md) {
			display: flex;
		}
	}

	.main-content {
		padding-top: 0;

		@include mq(md) {
			display: flex;
			justify-content: flex-end;
			height: 60px;
			padding-top: $sp-4;
			padding-bottom: $sp-4;
			border-bottom: $border $border-color;
		}
	}
}

.navigation,
.site-header,
.site-footer {
	width: 100%;

	@include mq(lg) {
		width: $nav-width;
	}
}

.navigation {
	@include container;

	@include mq(md) {
		padding-top: $sp-8;
		padding-bottom: $gutter-spacing-sm;
		overflow-y: auto;
		flex: 1 1 auto;
	}
}

.site-header {
	display: flex;
	min-height: $header-height;
	align-items: center;

	@include mq(md) {
		z-index: 101;
		height: $header-height;
		max-height: $header-height;
		border-bottom: $border $border-color;
	}
}

.site-title {
	background-image: url(logo-small.png);
	background-position: 29px 7px;
	background-repeat: no-repeat;
	height: 60px;
	padding-left: 88px;
	padding-top: 16px;
}

@if variable-exists(logo) {
	.site-logo {
		width: 100%;
		height: 100%;
		background-image: url($logo);
		background-repeat: no-repeat;
		background-position: left center;
		background-size: contain;
	}
}

.menu-button {
	appearance: none;
	display: flex;
	height: 100%;
	padding: $gutter-spacing-sm;
	align-items: center;
	color: $link-color;
	text-transform: uppercase;
	background: transparent;
	border: 0;

	@include mq(md) {
		display: none;
	}
}

// stylelint-disable selector-max-type

body {
	position: relative;
	padding-bottom: $sp-10;

	@include mq(md) {
		position: static;
		padding-bottom: 0;
	}
}

// stylelint-enable selector-max-type

.site-footer {
	@include container;
	position: absolute;
	bottom: 0;
	left: 0;
	padding-top: $sp-4;
	padding-bottom: $sp-4;

	@include mq(md) {
		position: static;
		justify-self: end;
	}
}

.xml-file {
	text-transform: none;
	background-color: #ff4879;
	display: inline-block;
	padding-top: 0.16em;
	padding-right: 0.42em;
	padding-bottom: 0.16em;
	padding-left: 0.42em;
	margin-right: .25rem;
	margin-left: .25rem;
	color: #fff;
	vertical-align: middle;
	font-size: 14px !important;
}

.cs-file {
	text-transform: none;
	background-color: #3b9bff;
	display: inline-block;
	padding-top: 0.16em;
	padding-right: 0.42em;
	padding-bottom: 0.16em;
	padding-left: 0.42em;
	margin-right: .25rem;
	margin-left: .25rem;
	color: #fff;
	vertical-align: middle;
	font-size: 14px !important;
}